extends ../_/views/_base_c
block content
	div(ng-controller='printCtrl')
		#confirmation(ng-if='info.errno == 0', ng-init='data = info.data[0]')
			img.img-view(src='../../_/images/confirmation.jpg')
			.content
				span.name(ng-bind='"{{data.name}}"')
				span.sex(ng-bind='"{{data.sex}}"')
				span.cardno(ng-bind='"{{data.cardNo}}"')
				span.item(ng-bind='"特步{{data.item}}"')
				span.no(ng-bind='"{{data.no}}"')
				span.passport(ng-bind='"{{data.passport}}"')
				span.suitsize(ng-bind='"{{data.suitSize}}"')

block script
	script(src='../_/js/app.js')
	script(src='../_/js/apiService.js')
	script(src='../_/js/appController.js')
	script(src='../_/js/html2canvas.js')
	script(src='confirmation.js')
