body{
	font-family: "Microsoft YaHei","\5FAE\8F6F\96C5\9ED1","SimSun","\5B8B\4F53";
}
nav{
	border-bottom: 1px solid #ccc;
	line-height: 40px;
	margin-bottom: 10px;
	padding: 0 20px;
	.col-md-8{
		text-align: center;
		font-size: 20px;
		font-weight: bold;
	}
	.col-md-4{
		text-align: right;
		display: none;
		a{
			margin-right: 10px;
		}
	}
}

.simple{
	width: 600px;
	margin: 0 auto;
	padding-top: 15px;
	h3{
		margin: 0 0 15px 0;
		padding: 0;
		font-size: 14px;
		display: none;
	}
}

@mixin  button-variant($color, $background, $border) {
	color: $color;
	background-color: $background;
	border-color: $border;

	&:focus,
	&.focus {
		color: $color;
		background-color: darken($background, 10%);
		border-color: darken($border, 25%);
	}
	&:hover {
		color: $color;
		background-color: darken($background, 10%);
		border-color: darken($border, 12%);
	}
	&:active,
	&.active{
		color: $color;
		background-color: darken($background, 10%);
		border-color: darken($border, 12%);

		&:hover,
		&:focus,
		&.focus {
			color: $color;
			background-color: darken($background, 17%);
			border-color: darken($border, 25%);
		}
	}
	&:active,
	&.active,
	&.disabled,
	&[disabled],
	fieldset[disabled] & {
		&:hover,
		&:focus,
		&.focus {
			background-color: $background;
			border-color: $border;
		}
	}

	.badge {
		color: $background;
		background-color: $color;
	}
}

.btn-primary {
	@include button-variant(#fff, #F21B49, #FA073B);


}

body {
	&.print {
		nav {
			display: none;
		}
		canvas,img{
			max-width: 100%;
		}
	}
}

#confirmation,#certification{
	position: relative;
	z-index: 1000;
	margin: 0 auto;
	width:2480px;
	img {
		position: absolute;
		z-index: 1500;
		max-width:100%;
	}
	.content{
		position: absolute;
		z-index: 2000;
		span{
			position: absolute;
			font-weight: bold;
			font-size: 40px;
			font-weight: bold;
			width: 350px;
			&.name{
				left:450px;
				top:490px;
			}
			&.sex{
				top:490px;
				left:1130px
			}
			&.cardno{
				top:490px;
				left:1800px;
			}
			&.item{
				left:520px;
				top:617px;
			}
			&.no{
				left:1780px;
				top:617px;
			}
			&.passport{
				left: 575px;
				top: 749px;
			}
			&.suitsize{
				top: 749px;
				left: 1830px;
			}
		}
	}
 }
#certification{
	width: 1754px;
}
