extends ../_/views/_base_c
block content
	div(ng-controller='printCtrl')
		#certification(ng-if='info.errno == 0', ng-init='data = info.data[0]')
			img.img-view(src='../../_/images/certification.jpg')
			.content
				span.name.center
					em(ng-bind='"{{data.name}}"')
				span.sex.center
					em(ng-bind='"{{data.sex}}"')
				span.no.center
					em(ng-bind='"{{data.netTiming}}"')
				span.score.center
					em(ng-bind='"{{data.score}}"')
				span.net-timing.center
					em(ng-bind='"{{data.netTiming}}"')
				span.pace.center
					em(ng-bind='"{{data.pace}}"')
				span.sex-rank-score.center
					em(ng-bind='"{{data.sexRankScore}}"')
				span.sex-total.center
					em(ng-bind='"{{data.sexTotal}}"')
				span.sex-rank-net-timing.center
					em(ng-bind='"{{data.sexRankNetTiming}}"')
				span.sex-total-1.center
					em(ng-bind='"{{data.sexTotal}}"')
				span.rank-score.center
					em(ng-bind='"{{data.rankScore}}"')
				span.total.center
					em(ng-bind='"{{data.total}}"')
				span.rank-net-timing.center
					em(ng-bind='"{{data.rankNetTiming}}"')
				span.total-1.center
					em(ng-bind='"{{data.total}}"')

block script
	script(src='../_/js/app.js')
	script(src='../_/js/apiService.js')
	script(src='../_/js/appController.js')
	script(src='../_/js/html2canvas.js')
	script(src='certification.js')
