#query.simple.center-block
	h3 查询报名信息
	form.form-horizontal
		.form-group
			.col-sm-2
			.col-xs-5.col-sm-6
				input.form-control(placeholder='身份证号', type='text', id='cardNo', ng-model='cardNo')
			.col-xs-4.col-sm-2
				button.btn.btn-primary(type='button', ng-disabled='!cardNo', ng-click='query()') 查询

	.result.visible-md-block.visible-md-block.visible-lg-block
		table.table.table-bordered(ng-if='info')
			thead
				tr
					td 姓名
					td 身份证号
					td 性别
					td 参赛项目
					td 参赛号码
					td 确认函

			tbody(ng-if='info.errno == 1')
				tr
					td.text-center(colspan='6') 没有相关记录,请确认报名是否成功或身份证是否输入正确.
			tbody(ng-if='info.errno == 0', ng-init='data = info.data[0]')
				tr
					td(ng-bind='"{{data.name}}"')
					td(ng-bind='"{{data.cardNo}}"')
					td(ng-bind='"{{data.sex}}"')
					td(ng-bind='"特步{{data.item}}"')
					td(ng-bind='"{{data.no}}"')
					td
						a(ng-href='#/print/{{data.cardNo}}',target='_blank')下载并打印确认函

	.result.visible-xs-block
		.row
			.col-xs-7
				table.table.table-bordered(ng-if='info')
					tbody(ng-if='info.errno == 1')
						tr
							td.text-center(colspan='2') 没有相关记录,请确认报名是否成功或身份证是否输入正确.
					tbody(ng-if='info.errno == 0', ng-init='data = info.data[0]')
						tr
							td 姓名
							td(ng-bind='"{{data.name}}"')
						tr
							td 身份证号
							td(ng-bind='"{{data.cardNo}}"')
						tr
							td 性别
							td(ng-bind='"{{data.sex}}"')
						tr
							td 参赛项目
							td(ng-bind='"特步{{data.item}}"')
						tr
							td 参赛号码
							td(ng-bind='"{{data.no}}"')
						tr
							td 确认函
							td
								a(ng-href='#/print/{{data.cardNo}}',target='_blank')下载并打印确认函

